@page
@model AppEmpleo.Pages.Application.HomeModel
@inject ClaimsService claimsService
@using AppEmpleo.Class.Services
@using AppEmpleo.Models
@using AppEmpleo.Class.Utilities
@{
    ViewData["Title"] = "Ofertas de empleo";
    Layout = "~/Pages/Shared/_LayoutSession.cshtml";

    var countries = CountryHelper.CountryName;
    var currencies = CurrencyHelper.CurrencyName;

    var authenticatedUser = claimsService.AuthenticatedUser();

    if (!authenticatedUser)
    {
        throw new ArgumentException();
    }

    Usuario user = new Usuario()
    {
        UsuarioId = claimsService.GetId(),
        Nombre = claimsService.GetName(),
        Email = claimsService.GetEmail(),
        Rol = claimsService.GetRole()
    };
}

<div class="role">
    @if (user.Rol == "CANDIDATO")
    {
        <p class="p_prueba">Eres candidato</p>
        <div class="search__container">
            <h1>Resultados de búsqueda</h1>
            <ul class="list__offers">
                @if (Model.Offers?.Count <= 0)
                {
                    <li>No hay ofertas para mostrar</li>
                }
                else
                {
                    foreach (var offer in Model.Offers)
                    {
                        <li class="offer">
                            <h2 class="offer__title">@offer.NombreOferta</h2>
                            <p>@offer.Descripcion</p>
                            <p>@offer.Salario</p>
                        </li>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <div class="default__form form__offer">
            <form method="post" asp-page="Home" class="form">

                <div class="form__group">
                    <label asp-for="Offer.NombreOferta" class="label"></label>
                    <input asp-for="Offer.NombreOferta" type="text" value="" class="form__input" />
                </div>
                <div class="form__group form__group--date">
                    <div class="form__group--column">
                        <label asp-for="Offer.FechaInicio" class="label"></label>
                        <input asp-for="Offer.FechaInicio" type="date" value="" class="form__input" />
                    </div>
                    <div class="form__group--column">
                        <label asp-for="Offer.FechaCierre" class="label"></label>
                        <input asp-for="Offer.FechaCierre" type="date" value="" class="form__input" />
                    </div>
                </div>
                <div class="form__group">
                    <label asp-for="Offer.Pais" class="label"></label>
                    <input asp-for="Offer.Pais" type="list" value="" class="form__input" list="pais" />
                    <datalist id="pais">
                        @foreach (var country in countries)
                        {
                            <option value="@country.Key">@country.Value</option>
                        }
                    </datalist>
                </div>
                <div class="form__group form__group--salary">
                    <div class="form__group--currency">
                        <label asp-for="Offer.Moneda" class="label label__currency"></label>
                        <input asp-for="Offer.Moneda" type="list" class="form__input form__input--currency" list="moneda" value="" />
                        <datalist id="moneda">
                            @foreach (var currency in currencies)
                            {
                                <option value="@currency.Key">@currency.Value</option>
                            }
                        </datalist>
                    </div>
                    <div class="form__group--value">
                        <label asp-for="Offer.Salario" class="label"></label>
                        <input asp-for="Offer.Salario" type="number" class="form__input" />
                    </div>
                </div>
                <div class="form__group">
                    <label asp-for="Offer.Descripcion" class="label"></label>
                    <input asp-for="Offer.Descripcion" type="text" value="" class="form__input" />
                </div>
                <div class="form__group">
                    <label asp-for="Offer.ModalidadTrabajo" class="label">Modalidad</label>
                    <div class="form__group--radio">
                        <div class="radio__button">
                            <label asp-for="Offer.ModalidadTrabajo" class="label label__radio">Presencial</label>
                            <input asp-for="Offer.ModalidadTrabajo" type="radio" value="presencial" class="input__radio" checked />
                        </div>
                        <div class="radio__button">
                            <label asp-for="Offer.ModalidadTrabajo" class="label label__radio">Remoto</label>
                            <input asp-for="Offer.ModalidadTrabajo" type="radio" value="remoto" class="input__radio" />
                        </div>
                        <div class="radio__button">
                            <label asp-for="Offer.ModalidadTrabajo" class="label label__radio">Híbrido</label>
                            <input asp-for="Offer.ModalidadTrabajo" type="radio" value="hibrido" class="input__radio" />
                        </div>
                    </div>
                </div>

                <button type="submit" class="button button__submit button__mobile" id="button__offer">Publicar oferta</button>
                <button type="button" class="button button__submit button__mobile button__mobile--cancel">Cancelar</button>

            </form>
        </div>
    }
</div>
